<fieldset class= "sharing">
    <legend class="legend3">
        <div class="down-div">
        <i class="fa-solid fa-share-nodes icon sharing__icon2"></i>
        <h3 class="sharing__h3">Comparte</h3>
        </div>
        <button class="sharing__arrow"><i class="fa-solid fa-chevron-up design__box--arrow  icon__"></i></button>
    </legend>
    <div class="press__button">
        <button class="press__submit" type="submit">
            <i class="fa-regular fa-address-card card__id"></i>CREAR TARJETA</button>
    </div>
    <div>
        <h3 class="card__created">La tarjeta ha sido creada:</h3>
        <p class="url">https://awesome-profile-card.com?id=A456DF0001</p>
    </div>
    <div class="btn__twitter">
        <a class="a" href="">
            <i class="fa-brands fa-x-twitter"></i>
            Compartir en twitter
        </a>
    </div>
</fieldset>