<fieldset class= "sharing collapsed js-shareContainer">
    <div class="sharing__box js-shareTitle">
        <legend class="sharing__box--icontext">
            <i class="fa-solid fa-share-nodes icon sharing__icon2 sharing__box--icontext--icon"></i>
            <h2 class="sharing__h3 sharing__box--icontext--text">Comparte</h2>
        </legend>
        <i class="fa-solid fa-chevron-up sharing__box--arrow collap-icon"></i>
    </div>
    <div  class="sharing__box2">
        <div class="press__button">
            <button class="press__submit js-create-card" type="submit">
                <i class="fa-regular fa-address-card card__id"></i>CREAR TARJETA</button>
        </div>
        <p class="msgError js-message-box"></p>
        <div class="hidden btn__twitter js-twitter-card">
            <h3 class="card__created">La tarjeta ha sido creada:</h3>
            <a class="url js-cardLink"></a>
            <div class="btn__twitter"><a class="a js-twitter-link" href="https://twitter.com/intent/tweet?text=Mira%20mi%20nueva%20tarjeta%20de%20perfil&url=$$plantillaURLCREADA" target="_blank">
                <i class=" fa-brands fa-x-twitter "></i>
            Compartir en twitter
            </a></div>
        </div>
    </div>
</fieldset>