<fieldset class= "refill collapsed js-refillContainer">
    <div class="refill__box js-refillTitle">
        <legend class="refill__box--icontext">
            <i class="fa-regular fa-keyboard icon refill__box--icontext--icon"></i>
            <h2 class="refill__box--icontext--text">Rellena</h2>
        </legend>
        <i class="fa-solid fa-chevron-up refill__box--arrow collap-icon"></i> 
    </div>
    <div class="text_form">
            <label for="name" class="label2 ">Nombre completo
                <input name="name" type="text" id="name"placeholder="Ej: Sally Jill" class="input-refill js-input-nameCompleted" value="">
            </label>
            <label for="position" class="label2">Puesto
                <input name="job" type="text" id="position" placeholder="Ej: Front-end unicorn" class="input-refill js-input-job" value="">
            </label>
            <label>Imagen de perfil</label>
            <div class="divAddPreviewPhoto">
            <label class="label button-img" for="image-selector">Añadir imagen</label>
            <input name="photo" type="file" name="" id="image-selector" class=" js__profile-upload-btn action_hiddenField">   
     
                <div class="preview profile-image js__profile-image"></div></div> 
              
        
            <label for="email" class="label2">Email
                <input name="email" type="email" id="email" placeholder="Ej: Sally-hill@gmail.com" class="input-refill js-input-email" value="">
            </label>
            <label for="phone" class="label2">Teléfono
                <input name="phone" type="tel" id="phone" placeholder="Ej: 555-55-55-55" class="input-refill js-input-phone">
            </label>
            <label for="lk" class="label2">Linkedin
                <input name="linkedin" type="search" id="lk" placeholder="Ej: linkedin.com/in/sally.hill" class="input-refill js-input-linkedin" value="">
            </label>
            <label for="gh" class="label2">GitHub
                <input name="github" type="search" id="gh" placeholder="Ej: @sally-hill" class="input-refill js-input-github" value="">
            </label>   
    </div>
</fieldset>

