<fieldset class="design js-designContainer">
    <div class="design__box js-designTitle">
        <legend class="design__box--icontext">
            <i class="fa-regular fa-object-ungroup icon design__box--icontext--icon"></i>
            <h2 class="design__box--icontext--text">diseña</h2>
        </legend>       
        <i class="fa-solid fa-chevron-up design__box--arrow collap-icon"></i>
    </div>
    
    <div class="design__box2 js-designTitle2">
        <h3 class="design__box2--h3">colores</h3>

        <div class="design__box2--colors">
            <label  for="colors">
                <input class="design-input" id="colors" type="radio" name="colors">
                <img src="./assets/images/color1.png" alt="color1">
            </label>

            <label for="colors2">
                <input class="design-input" id="colors2" type="radio" name="colors">
                <img src="./assets/images/color2.png" alt="color2">
            </label>

            <label for="colors3">
                <input class="design-input" id="colors3" type="radio" name="colors">
                <img src="./assets/images/color3.png" alt="color3">
            </label>
        </div>
    </div>
</fieldset>