<section class="card">
    <form action="">
    <button type="reset"class="card--reset">
        <i class="fa-regular fa-trash-can"></i>  reset</button>
    
    <article class="box">
        <div class="box__container">
            <h1 class="box__container--name">Nombre Apellido</h1>
            <p class="box__container--front">Front-end developer</p>
        </div>

        <img class="image" src="./assets/images/pikachu.png" alt=""/>

        <nav class="icons">
            <ul class="icons--ul">
                <li>
                    <a class="icons--ul--li" href="#"><i
                        class="fa-solid fa-mobile-screen-button"></i></a>
                </li>
                <li>
                    <a class="icons--ul--li"href=""><i
                            class="fa-regular fa-envelope"></i></a>
                </li>
                <li>
                    <a class="icons--ul--li" target="_blank"
                        href=""><i class="fa-brands fa-linkedin-in "></i></a>
                </li>
                <li>
                    <a class="icons--ul--li" target="_blank"
                        href=""><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </nav>
    </article>
</section>