<fieldset>
    <legend>
        <div> aqui va el icono</div>
            <h2>diseña</h2>
        <div>aqui va el icono</div>
    </legend>
    <div>


        <h3>colores</h3>

        <div>
            <label for="colors">
                <input id="colors" type="radio" name="colors">
                aqui va la imagen1
            </label>

            <label for="colors2">
                <input id="colors2" type="radio" name="colors">
                aqui va la imagen2
            </label>

            <label for="colors">
                <input id="colors2" type="radio" name="colors">
                aqui va la imagen3
            </label>

        </div></div>
</fieldset>