<section class= "refill">
    <div>
        <i></i>
        <h3>Rellena</h3>
    </div>
    <div>
        <form action="" method="get" class="form-refill">
            <label for="name">Nombre completo</label>
            <input type="text" id="name" placeholder="Ej: Sally Jill">
            <label for="position">Puesto</label>
            <input type="text" id="position" placeholder="Ej: Front-end unicorn">
            <label for="">Imagen de perfil</label>
                <button>añadir imagen</button>
                <div>imagenpreview</div>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Ej: Sally-hill@gmail.com">
            <label for="phone">Teléfono</label>
            <input type="tel" id="phone" placeholder="Ej: 555-55-55-55">
            <label for="lk">Linkedin</label>
            <input type="text" id="lk" placeholder="Ej: linkedin.com/in/sally.hill">
            <label for="gh">GitHub</label>
            <input type="text" id="gh" placeholder="Ej: @sally-hill">  
        </form>
    </div>
</section>

<section class= "sharing">
    <div>
        <i></i>
        <h3>Comparte</h3>
    </div>
    <div>
        <button type="submit">CREAR TARJETA</button>
    </div>
    <div>
        <h4>La tarjeta ha sido creada:</h4>
        <p>https://awesome-profile-card.com?id=A456DF0001</p>
    </div>
    <div>
        <a href="">
            <i></i>
            <p>Compartir en Twitter</p>
        </a>
    </div>
</section>