<fieldset class= "refill collapsed">
    <div class="refill__box js-refillTitle">
        <legend class="refill__box--icontext">
            <i class="fa-regular fa-keyboard icon refill__box--icontext--icon"></i>
            <h2 class="refill__box--icontext--text">Rellena</h2>
        </legend>
        <i class="fa-solid fa-chevron-up refill__box--arrow collap-icon"></i> 
    </div>
    <div class="text_form js-refillContainer">
            <label for="name" class="label2">Nombre completo
                <input type="text" id="name"placeholder="Ej: Sally Jill" class="input-refill">
            </label>
            <label for="position" class="label2">Puesto
                <input type="text" id="position" placeholder="Ej: Front-end unicorn" class="input-refill">
            </label>
            <label class="label">Imagen de perfil</label>
                <div class="img-div">
                    <button class="button-img">Añadir imagen</button>
                    <div class="preview"><img src="./assets/images/pikachu.png" alt="user-image" class="preview-img"></div>
                </div>
            <label for="email" class="label2">Email
                <input type="email" id="email" placeholder="Ej: Sally-hill@gmail.com" class="input-refill">
            </label>
            <label for="phone" class="label2">Teléfono
                <input type="tel" id="phone" placeholder="Ej: 555-55-55-55" class="input-refill">
            </label>
            <label for="lk" class="label2">Linkedin
                <input type="text" id="lk" placeholder="Ej: linkedin.com/in/sally.hill" class="input-refill">
            </label>
            <label for="gh" class="label2">GitHub
                <input type="text" id="gh" placeholder="Ej: @sally-hill" class="input-refill">
            </label>   
    </div>
</fieldset>

