<section class="card">
    <button class="card--reset js-reset-button">
        <i class="fa-regular fa-trash-can"></i>  reset</button>
    
    <article class="box">
        <div class="box__container js-container containerBlue">
            <h1 class="box__container--name js-preview-name">Nombre Apellido</h1>
            <p class="box__container--front js-preview-job">Front-end developer</p>
        </div>

        <img class="image js-preview-image" src="./assets/images/pikachu.png" alt=""/>

        <nav class="icons">
            <ul class="icons--ul">
                <li>
                    <a class="icons--ul--li js-preview-phone js-icons liBlue" href="#"><i
                        class="fa-solid fa-mobile-screen-button"></i></a>
                </li>
                <li>
                    <a class="icons--ul--li js-preview-email js-icons-1 liBlue" href="#"><i
                            class="fa-regular fa-envelope"></i></a>
                </li>
                <li>
                    <a class="icons--ul--li js-preview-linkedin js-icons-2 liBlue" target="_blank"
                        href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a class="icons--ul--li js-preview-github js-icons-3 liBlue" target="_blank"
                        href="#"><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </nav>
    </article>
</section>