<section class="card">
    <button class="card--reset">
        <i class="fa-regular fa-trash-can"></i>reset</button>
    
    <article class="card_box">
        <div class="card_container">
            <h1 class="card_container-name">Nombre Apellido</h1>
            <p class="card_container-front">Front-end developer</p>
        </div>

        <img class="card_box-image" src="./assets/images/chica.webp" alt=""/>

        <nav>
            <ul>
                <li class="icon">
                    <a class="icon-item" href="#"><i
                        class="fa-solid fa-mobile-screen-button"></i></a>
                </li>
                <li>
                    <a class="icon-item"href=""><i
                            class="fa-regular fa-envelope"></i></a>
                </li>
                <li>
                    <a class="icon-item" target="_blank"
                        href=""><i class="fa-brands fa-linkedin-in "></i></a>
                </li>
                <li>
                    <a class="icon-item" target="_blank"
                        href=""><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </nav>
    </article>
</section>