
// colors
$color-black: #000000;
$color-dark-green: #114e4e;
$color-blue: #438792;
$color-green: #a2deaf;
$color-beige: #f9f4dc;
$color-white: #ffffff;
$color-white-two: #f5f5f5;
$color-orange: #e17334;
$color-grey2: #6b6b6b;
$color-white-three: #d8d8d8;
$color-grey:lightgrey;
$color-gunmetal: #54585a;
$color-grey-button: #d5d5d5;


//fonts

$font-Merri: 'Merriweather', serif;
$font-Mont: 'Montserrat', sans-serif;
$font-Open: 'Open Sans', sans-serif;
