
// colors
$color-black: #000000;
$color-dark-green: #114e4e;
$color-blue: #438792;
$color-green: #a2deaf;
$color-beige: #f9f4dc;
$color-white: #ffffff;
$color-orange: #e17334;
$color-grey: #6b6b6b;
$color-white-three: #d8d8d8;

//fonts

$font-Merri: 'Merriweather', serif;
$font-Mont: 'Montserrat', sans-serif;
$font-Open: 'Open Sans', sans-serif;
