.card {
    height: 457px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white ;
    align-items: center;
    background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    @media all and(min-width:768px){
        width: 80%;
        height: 100vh;
        border-radius: 6px;
        padding: 45px 28px 20px 28px;
        margin: 20px 40px 20px 20px;
    }
    @media all and(min-width:1200px){
        width: 85%;
        min-height: 812px;
        border-radius: 6px;
        padding: 20px 40px 20px 30px;
        margin: 20px;
    }
    &--reset{
        margin: auto;
        position: relative;
        top: -10px;
        height: 30px;
        padding: 4px 12px 4px 10px;
        background-color: #bfcdd0;
        border-radius: 15px;
        text-transform: uppercase;
        border: solid 1px $color-white;
        font-family: $font-Open;
        color: #54585a;
        margin-top: 30px;
        transform: translateY(-10%) translateX(-110%);
        @media all and(min-width:768px){
            margin-top: 0px;
        }
    }
}
        .box{
            width: 240px;
            height: 390px;
            margin-bottom: 40px;
            background-color: $color-white;
            padding: 21px 0 12px;
            border-radius: 2px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
            &__container{
                width: 5px;
                min-height: 42px;
                margin: 2px 15px 10px 0;
                border-left: 5px solid #438792;
                &--name {
                    width: 206px;
                    height: 20px;
                    margin: 0 14px 4px 15px;
                    font-family: $font-Mont;
                    font-size: 18px;
                    color: $color-dark-green; 
                }
                &--front{
                    width: 168px;
                    height: 20px;
                    margin: 4px 52px 10px 15px;
                    font-family: $font-Mont;
                    color: #54585a;   
                }
            }
            .image{
                width: 240px;
                height: 200px;
                margin: 10px 0;
                background-image: url(./assets/images/pikachu.png);
                position: relative;
                top: 10px;
                background-size: cover;
                background-position: center center;
            }
            .icons{
                margin: 20px;
                &--ul{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: space-evenly;

                    &--li{
                        border: solid 2px $color-green;
                        font-size: 18px;
                        width: 32px;
                        color: #114e4e;
                        height: 32px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                }
            }

    }   