.sharing{
  margin:15px;
  border:none;
  border-bottom: 1px solid $color-white-three;
  &__box{
      display:flex;
      justify-content:space-between;
      &--icontext{
          display:flex;
          gap:15px;
          &--icon{
              color: $color-orange;
              font-size:18px;
              width: 21px;
              height: 18px;
          }
          &--text{
              font-family:$font-Open;
              font-weight:600;
              color: #54585a;
              font-size:18px;
              text-transform: uppercase;
              padding-bottom: 10px;
          }
      }
      &--arrow{
          font-size:18px;
          color: #54585a;
      }
  }

  .press__button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: $color-white-three solid 1px;
    .press__submit {
      background-color: $color-orange;
      width: 199px;
      height: 50px;
      color: $color-white;
      font-family: $font-Open;
      font-weight: 600px;
      font-size: 19px;
      text-transform: uppercase;
      border-radius: 12px;
      box-shadow: 0 1px 6px 0 $color-black;
      border: none;
      .card__id {
        color: $color-white;
        padding-right: 10px;
      }
    }
    .pulsed-grey{
      background-color: $color-grey-button;
  }
  }
  

  .card__created {
    font-family: $font-Open;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    color: $color-gunmetal;
  }
  .url{
    font-size: 12px;
    color:$color-orange;
    text-align: center;
    margin:5px;
  }
  .btn__twitter{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items:center;

    
   
    
    .a{ display: flex;
        justify-content: center;
        align-items: center;
        gap: 9.5px;
        background-color: #00a0f5;
        height: 30px;
        width: 181px;
        font-size: 14px;
        font-family: $font-Open;
        text-align: center;
        border-radius: 3px;
        color: $color-white;
        text-decoration: none;
        box-shadow: 0 0 4px 0 black;
        
    

    }
  }
}
