.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white ;
    align-items: center;
    background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    @media all and(min-width:768px){
        
        border-radius: 6px;
        padding: 45px 28px 20px 28px;
        margin: 20px 20px 20px 20px;
        grid-column: 2/3;
        grid-row: 1/4;
    }
    @media all and(min-width:1200px){
       
        border-radius: 6px;
        padding: 20px 20px 20px 30px;
        
    }
    &--reset{
        position: relative;
        top: -10px;
        height: 30px;
        padding: 4px 12px 4px 10px;
        background-color: #bfcdd0;
        border-radius: 15px;
        text-transform: uppercase;
        border: solid 1px $color-white;
        font-family: $font-Open;
        color: #54585a;
        margin-top: 30px;
        transform: translateY(-10%) translateX(-110%);
        cursor: pointer;
        @media all and(min-width:768px){
            margin-top: 0px;
        }
    }
}
        .box{
            width: 240px;
            height: 369px;
            margin-bottom: 40px;
            background-color: $color-white;
            padding: 21px 0 12px;
            border-radius: 2px;
            justify-content: center;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
        
            &__container{
                width: 5px;
                min-height: 42px;
                margin: 2px 15px 10px 0;
                
                &.containerRed{
                    border-left: 5px solid #bd1010;
                    }
                &.containerYellow{
                    border-left: 5px solid  #eab052;
                    }
                &.containerBlue{
                    border-left: 5px solid #438792;
                    }
            &--name {
                    width: 20.6rem;
                    height: 2rem;
                    margin: 0 14px 4px 15px;
                    font-family: $font-Mont;
                    font-size: 1.8rem;
                    color: $color-dark-green; 
                    display:inline-block;
                }
                &--front{
                    width: 168px;
                    height: 20px;
                    margin: 4px 52px 10px 15px;
                    font-family: $font-Mont;
                    color: #54585a;   
                }
            
            .nameRed{
                color: #420101;
            }
            
            .nameBlue{
                color: #3e5b65;
            }
                  
            }
            .image{
                width: 240px;
                height: 200px;
                margin: 10px 0;
                position: relative;
                top: 10px;
                background-image: url(../images/pikachu.png);
                background-size:83%;
                background-repeat: no-repeat;
                background-position: center;
            }
            .icons{
                margin: 20px;
                &--ul{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: flex-start;
                    gap: 10px;

                    &--li{
                        font-size: 18px;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .liRed{
                        color: #420101;
                        border: solid 2px #e95626;
                    }
                    .liGrey{
                        color: #3e5b65;
                        border: solid 2px #a0c0cf;
                    }
                    .liBlue{
                        color:#114e4e;
                        border: solid 2px $color-green;
                    }
                }
            }

    }   