.footer{

    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid $color-white-three;
    font-size: 1.4rem;

 
    @media all and (min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
        padding-right: 4rem;
        
    }

    &__p{
        font-family: $font-Open;
        line-height: 2rem;
        font-weight: 400;
        color: $color-grey2;
        padding:10px;
        
        @media all and (min-width: 768px){
            padding-top: 0rem;
      
        }
    }

    &__img{
        width: 10rem;
     
    }
}

.footer-card{
    height: max-content;


    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid $color-white-three;
    font-size: 1.4rem;
    margin-top: 70rem;

  
  
    @media all and (min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
        padding-right: 4rem;
        height: 7rem;
        margin-top: 30rem;
    }

    @media all and (min-width: 1024px){
        padding: 5rem;
    
        margin-top: 20rem;
    }

    &__p{
        font-family: $font-Open;
        line-height: 2rem;
        font-weight: 400;
        color: $color-grey2;
        padding:10px;
        
        @media all and (min-width: 768px){
            padding-top: 0rem;
      
        }
    }

    &__img{
        margin-top: 0;
        width: 5rem;
        height: 5rem;
    }
}

