
.section1{

    padding:  2.4rem;
    text-align:center;
    background-color: #f5f5f5;
    &__h1{
        font-family: $font-Merri;
        color: $color-orange;
        font-size:20px;
        @media (min-width:768px){
            font-size: 24px;
        }
    }
    &__p{
        font-family: $font-Open;
        color: $color-dark-green;
        font-size: 12px;
        @media (min-width:768px){
            font-size: 16px;
        }
    }
}