.header-landing {
    height: 15vh;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center; 
      background-color: $color-white-two;
      @media all and(min-width:768px) {
        padding: 0;
        padding-top: 10rem;
  
    
  
      }

      .logo-menu-1 {
        width: 30rem;
        @media all and(min-width:768px){
          width: 40rem;
        }
        @media all and(min-width:1024px){
          width: 50rem;
        }}
}