.s2 {display: flex;
  //height: 47.5vh;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  .list {
    width: 268px;
    height: 73.8px;
    //margin: 0px 30px 0px 30px;
    border: $color-orange solid  1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    .items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font-Open;
      font-size: 1.28rem;
      padding: 1.5rem 0 1rem 0;
     .icon{
    
        height: 3.2rem;
        width: 3.2rem;
        color: $color-orange;
        
      }
    }
  }
  .button {
    width:100vw;
    padding-top: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:$color-white-two;
    
    
    .start {
   
      background-color: $color-blue;
      border-radius: 5rem 5rem 5rem 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.2rem;
      width: 12.9rem;
      
 
      
      
      
      a{
        font-family: $font-Open;
        text-decoration: none;
        color:$color-white-two;
        font-size:1.6rem;
        font-weight: 600;
        text-decoration: none;}
    }
  }
}
@media screen and(min-width: 768px){
  .s2{
    .list{width: 32.5rem;
      height: 8.6rem;
      padding:0 1rem 0 1rem;
      //margin: 10px 250px 150px 250px;
   
      .items{  
       font-size:1.6rem;
      
      
      .icon{ 
       
      width:5rem;
      height: 4rem;}
    }}
    .button{
      margin-bottom: 4rem ;
    }
  
  
}}