@import 'core/reset';
@import 'core/variables';
@import 'layout/main';
@import 'layout/header';
@import 'layout/landing-phrase';
@import 'layout/landing-square';
@import 'layout/footer';
@import 'pages/card';

